{% comment %} <!doctype html> 
<html> 
<head> 
<meta charset="utf-8"> 
<title>clary.pythonanywhere.com</title>
<meta name="description" content=""> <meta name="viewport" content="width=device-width"> 
 <link rel="stylesheet" href="https://app.tnpsuite.com/join/styles/main.60527430.css"> 
 <link rel="apple-touch-icon" sizes="57x57" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-57x57.png"> 
 <link rel="apple-touch-icon" sizes="60x60" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-60x60.png"> 
 <link rel="apple-touch-icon" sizes="72x72" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-72x72.png"> 
 <link rel="apple-touch-icon" sizes="76x76" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-76x76.png"> 
 <link rel="apple-touch-icon" sizes="114x114" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-114x114.png"> 
 <link rel="apple-touch-icon" sizes="120x120" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-120x120.png"> 
 <link rel="apple-touch-icon" sizes="144x144" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-144x144.png"> 
 <link rel="apple-touch-icon" sizes="152x152" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-152x152.png"> 
 <link rel="apple-touch-icon" sizes="180x180" href="https://app.tnpsuite.com/images/favicon/apple-touch-icon-180x180.png"> 
 <link rel="icon" type="image/png" href="https://app.tnpsuite.com/images/favicon/favicon-32x32.png" sizes="32x32"> 
 <link rel="icon" type="image/png" href="https://app.tnpsuite.com/images/favicon/android-chrome-192x192.png" sizes="192x192"> 
 <link rel="icon" type="image/png" href="https://app.tnpsuite.com/images/favicon/favicon-96x96.png" sizes="96x96"> 
 <link rel="icon" type="image/png" href="https://app.tnpsuite.com/images/favicon/favicon-16x16.png" sizes="16x16"> 
 <link rel="manifest" href="https://app.tnpsuite.com/images/favicon/manifest.json"> 
 <meta name="msapplication-TileColor" content="#da532c"> 
 <meta name="msapplication-TileImage" content="https://app.tnpsuite.com/images/favicon/mstile-144x144.png"> 
 <meta name="theme-color" content="#ffffff"> 
 </head> 
 <body>
 <div class="not-found text-center ng-scope"> 
    <div style="margin-top:20vh">
         <div class="container"> 
            <p style="font-size: 24px">The woods are lovely, dark and deep ... </p> 
            <hr> <h1 style="font-size:184px">404</h1> 
            <hr> You seem to have lost your way ...<br>
             Let's start over at <a href="http://clary.pythonanywhere.com/" 
             style='font-weight:bold'>clary.pythonanywhere.com</a> 
            </div> 
        </div> 
    </div>
 </body>
 </html>  {% endcomment %}
