{% extends 'splitter/base.html' %}
{% load static %}
{% block content %}


{% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}


   <div class="banner" data-aos="zoom-out" data-aos-delay="100" data-aos-duration="2500">
      <img class="banner_background" src="{% static 'images/anime_splitter.jpg' %}" alt="">
      <div class="content">
        <h1>Money Splitter</h1>
        <p></p>
      </div>
    </div>

    <script>
      AOS.init();
    </script>

{% endblock %}
